absl-py
annotated-types
anyio
astunparse
attrs
audioread
cachetools
certifi
cffi
charset-normalizer
click
colorama
coloredlogs
contourpy
cycler
decorator
dlib-bin
docopt
fastapi
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h2
h5py
hpack
httpcore
httpx
humanfriendly
hyperframe
idna
imageio
imageio-ffmpeg
jax
jiwer
joblib
jsonschema
jsonschema-specifications
keras
kiwisolver
lazy_loader
libclang
librosa
llvmlite
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mediapipe
ml-dtypes
more-itertools
moviepy
mpmath
msgpack
networkx
nltk
numba
numpy
oauthlib
onnxruntime
opencv-contrib-python
opencv-python
opencv-python-headless
opt-einsum
packaging
pandas
pillow
platformdirs
polling2
pooch
proglog
protobuf
pyannote.core
pyannote.database
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic_core
pydub
Pygments
PyMatting
pyparsing
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
rapidfuzz
referencing
regex
rembg
requests
requests-oauthlib
rich
rpds-py
rsa
scikit-image
scikit-learn
scipy
shellingham
six
sniffio
sortedcontainers
sounddevice
soundfile
soxr
speechmatics-python
SpeechRecognition
starlette
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
threadpoolctl
tifffile
toml
tqdm
typer
typing_extensions
tzdata
urllib3
uvicorn
websockets
Werkzeug
wrapt